@font-face {
    font-family: 'Combi Sans';
    src: url('../css/CombiSans-Regular.woff2') format('woff2'),
        url('../css/CombiSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: rgb(0, 0, 0);
    --accent-color: rgb(59, 165, 41);
    --background-color: rgb(255, 215, 179);
    --title-color: rgb(235, 92, 1);
    --title-font: 'Combi Sans', sans-serif;
    --body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --sidebar-bg: rgb(255, 255, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 50%;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
}

header{
    background:var(--title-color);
    padding:40px 0 10px 0;
    text-align:center;
    color: var(--background-color)
}

header h1{
    font-size: 150px;
     font-family: var(--title-font);
}

img[alt="Cuadros"]{
    position:absolute;
    top:20px;
    left:20px;
    z-index: 1;
    left: 0%;
}

nav {
    position: relative;
    background-color: var(--text-color);


}

#secondary-content h3 {
    margin: 10px 0 10px 0; 
    font-family: var(--title-font);
    font-size: 25px; 
    color: var(--title-color); 
    font-weight: 700; 
}

#maincontent {
    position: absolute;   /* Cambiado de relative a absolute para controlar sus límites */
    top: 70px;            /* Distancia desde la parte superior de su contenedor real */
    right: 12px;
    background-color: var(--sidebar-bg);
   width: 300px; 
    height: 180px; 
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    z-index: 5;
}

.primary-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 9px;           /* Rectángulo puro */
    text-decoration: none;      /* Sin subrayado inicial */
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    transition: color 0.3s ease;
    top: 8px;
    right: 10px;
    position: absolute;
}

.primary-btn:hover { 
     color: var(--title-color);
}

h2{
    margin-top: 5%;
    font-size: 35px;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align:center;
    margin-bottom:40px;
    font-weight:500;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    color: var(--text-color);
    text-align: left;
}


.indice{
    background:var(--black);
    color:white;
    padding:50px;
    border-radius:50px 0 0 0;
    width:fit-content;
    margin-left:auto;
}

.indice h2{
    font-size:4rem;
    margin-bottom:20px;
}

.indice ul{
    list-style:none;
}

.indice li{
    color:var(--orange);
    font-size:1.8rem;
    font-weight:700;
    margin-bottom:10px;
}

.section{
    padding:120px 0;
}

.section-content{
    max-width:900px;
}

.section-content p{
    font-size:1rem;
    max-width:850px;
}

/* =========================
   TITULOS NARANJAS
========================= */

.section-title{
    background:var(--orange);
    color:white;

    width:500px;
    max-width:100%;

    padding:35px 40px;

    border-radius:
    35px 35px 0 0;

    margin-bottom:40px;

    font-size:2rem;
    font-weight:600;
}

.section-title.right{
    margin-left:auto;
}

/* =========================
   RUTAS
========================= */

.routes{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.route{
    display:grid;
    grid-template-columns:120px 1fr;
    gap:40px;
    align-items:start;
}

.route-badge{
    width:100px;
    height:100px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    font-weight:bold;
}

.route-badge span:first-child{
    font-size:1.2rem;
}

.route-badge span:last-child{
    font-size:3rem;
    line-height:1;
}

/* colores */

.r10{ background:#70B92D; }
.r16{ background:#D7D71A; }
.r22{ background:#8430A7; }
.r25{ background:#19A9E8; }
.r26{ background:#D41919; }
.r27{ background:#E66AA9; }

/* =========================
   FOOTER
========================= */

footer{
    background:black;
    color:white;

    padding:40px 0;
    margin-top:100px;
}

.footer-content{
    display:flex;
    justify-content:space-between;
    gap:40px;
}

.footer-logo{
    font-size:3rem;
    font-weight:700;
}

.footer-text{
    font-size:.9rem;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width:768px){

    .hero{
        padding:50px 0;
    }

    .hero h1{
        font-size:4rem;
    }

    .indice{
        width:100%;
        padding:30px;
    }

    .indice h2{
        font-size:2.5rem;
    }

    .indice li{
        font-size:1.2rem;
    }

    .section{
        padding:70px 0;
    }

    .section-title{
        width:100%;
        font-size:1.5rem;
    }

    .route{
        grid-template-columns:1fr;
    }

    .footer-content{
        flex-direction:column;
    }
}