@font-face {
    font-family: 'Combi Sans';
    src: url('../css/CombiSans-Regular.woff2') format('woff2'),
        url('../css/CombiSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --text-color: rgb(0, 0, 0);
    --accent-color: rgb(59, 165, 41);
    --background-color: rgb(255, 215, 179);
    --title-color: rgb(235, 92, 1);
    --title-font: 'Combi Sans', sans-serif;
    --body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --sidebar-bg: rgb(255, 255, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 50%;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    line-height: 1.6;
}

header{
    background:var(--title-color);
    padding:40px 0 10px 0;
    text-align:center;
    color: var(--background-color)
}

header h1{
    font-size: 150px;
     font-family: var(--title-font);
}

img[alt="Cuadros"]{
    position:absolute;
    top:20px;
    left:20px;
    z-index: 0;
    left: 0%;
}

h2{
    margin-top: 5%;
    font-size: 35px;
    font-family: var(--title-font);
    color: var(--text-color);
    text-align:center;
    margin-bottom:40px;
    font-weight:500;
}

p{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    color: var(--text-color);
    text-align: left;
}


.primary-btn {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 9px;           /* Rectángulo puro */
    text-decoration: none;      /* Sin subrayado inicial */
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    transition: color 0.3s ease;
    top: 5px;
    right: 10px;
    position: absolute;
}

.primary-btn:hover { 
     color: var(--title-color);
}

#main-content h3 {
    font-size: 100px;
    font-family: var(--title-font);
    color: var(--background-color);
    font-weight: 100;
    width: 300px;
    height: 300px;
    right: 0;
    margin-top: 5%;

}

 #main-content{
    width: 45vw;
    margin-right: 0%;
    background-color: var(--text-color);
    font-family: var(--body-font);
    font-size: 30px;
    top: 100px;
    right: 0;
    width: 50%;

}  

#main-content li a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: bold;

}

#main-content li a:hover {
    text-decoration: underline;
}

#main-content ul {
    list-style-type: none;
    padding-left: 0;
    bottom: 20px;
}

h4 {
    background-color: var(--title-color);
    display: block;
    color: var(--background-color);
    font-family: var(--title-font);
    width: 400px;
    padding: 15px 20px;

    margin-top: 5%;
    margin-left: 45px;

    text-align: center;
    font-size: 30px;

    border-top-right-radius: 10px;
}

section[id="problemática"] p {
    margin-top: 5%;
    width: 75%;
    max-width: 800px;
    font-size: 20px;
    
    font-family: var(--body-font);
    padding: 0;
    margin-left: 150px;
}

h5 {
    background-color: var(--title-color);
    display: block;
    color: var(--background-color);
    font-family: var(--title-font);
    width: 400px;
    padding: 15px 20px;

    margin-top: 5%;
    margin-left: 45px;

    text-align: center;
    font-size: 30px;

    border-top-right-radius: 10px;
}

article[id="objetivo"] p {
    margin-top: 5%;
    width: 75%;
    max-width: 800px;
    font-size: 20px;
    
    font-family: var(--body-font);
    padding: 0;
    margin-left: 150px;
}

h6 {
    background-color: var(--title-color);
    display: block;
    color: var(--background-color);
    font-family: var(--title-font);
    width: 400px;
    padding: 15px 20px;

    margin-top: 5%;
    margin-left: 45px;

    text-align: center;
    font-size: 30px;

    border-top-right-radius: 10px;
}

article[id="Sistema de mapas"] p {
    margin-top: 5%;
    width: 75%;
    max-width: 800px;
    font-size: 20px;
    
    font-family: var(--body-font);
    padding: 0;
    margin-left: 150px;
}

h7 {
    background-color: var(--title-color);
    display: block;
    color: var(--background-color);
    font-family: var(--title-font);
    width: 400px;
    padding: 15px 20px;

    margin-top: 5%;
    margin-left: 45px;

    text-align: center;
    font-size: 30px;

    border-top-right-radius: 10px;
}

article[id="Rutas de Combis"] p {
    margin-top: 5%;
    width: 75%;
    max-width: 800px;
    font-size: 20px;
    
    font-family: var(--body-font);
    padding: 0;
    margin-left: 150px;
}